.font {
    color: rgb(78, 74, 74);
    display: inline-block;
}

.font1 {
    font-size: 15px;
    font-weight: 550;
}

.block {
    font-size: 15px;
    font-weight: 550;
    display: block;
}

.s {
    margin-top: 20px;
}

.back {
    background-color: cyan;
    width: 200px;
    height: 720px;
    display: block;
    float: left;

}

.margin {
    margin-left: 20px;
    display: block;
    float: right;
}

.font-resume {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    padding: 50px 60px;

}